version: '3.8'

services:
  # --- COMMAND (POST) ---
  books_command:
    image: carloshenriquesisep/lmsbooks:v1.0.0
    environment:
      - SPRING_PROFILES_ACTIVE=command
      - SPRING_DATA_MONGODB_HOST=mongodb
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.command-router.rule=Method(`POST`, `PUT`, `DELETE`, `PATCH`)"
        - "traefik.http.routers.command-router.entrypoints=web"
        - "traefik.http.services.command-service.loadbalancer.server.port=8080"
    networks:
      - lms_network

  books_command_canary:
    image: carloshenriquesisep/lmsbooks:${IMAGE_TAG:-latest}
    environment:
      - SPRING_PROFILES_ACTIVE=command
      - SPRING_DATA_MONGODB_HOST=mongodb
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.command-router.rule=Method(`POST`, `PUT`, `DELETE`, `PATCH`)"
        - "traefik.http.routers.command-router.entrypoints=web"
        - "traefik.http.services.command-service.loadbalancer.server.port=8080"

    networks:
      - lms_network

  # --- QUERY (GET) ---
  books_query:
    image: carloshenriquesisep/lmsbooks:v1.0.0
    environment:
      - SPRING_PROFILES_ACTIVE=query
      - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.query-router.rule=Method(`GET`)"
        - "traefik.http.routers.query-router.entrypoints=web"
        - "traefik.http.services.query-service.loadbalancer.server.port=8080"
    networks:
      - lms_network

  books_query_canary:
    image: carloshenriquesisep/lmsbooks:${IMAGE_TAG:-latest}
    environment:
      - SPRING_PROFILES_ACTIVE=query
      - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.query-router.rule=Method(`GET`)"
        - "traefik.http.routers.query-router.entrypoints=web"
        - "traefik.http.services.query-service.loadbalancer.server.port=8080"
    networks:
      - lms_network

  # --- INFRASTRUCTURE (Bases de Dados e Broker) ---
  postgres:
    image: postgres:latest
    environment: [POSTGRES_PASSWORD=password]
    networks: [lms_network]

  mongodb:
    image: mongo:7
    networks: [lms_network]

networks:
  lms_network:
    driver: overlay
    external: true