version: "3.9"

services:
  traefik:
    image: traefik:v3.1.0
    command:
      - "--providers.swarm=true"
      - "--providers.swarm.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--providers.file.watch=true"
    ports:
      - target: 80
        published: 8070
        protocol: tcp
        mode: host
      - target: 8080
        published: 8190
        protocol: tcp
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./rollout/dynamic:/etc/traefik/dynamic
    networks:
      - lms_network
    deploy:
      placement:
        constraints:
          - node.role == manager
      replicas: 1
      labels:
        - "traefik.enable=true"

networks:
  lms_network:
    external: true