services:
  lmsbooks-intance1:
    image: lmsbooks:latest
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,instance1
      - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT:-5432}/postgres
      - spring.datasource.username=postgres
      - spring.datasource.password=password
      - file.upload-dir=/tmp/uploads-psoft-g1-instance1
      - spring.rabbitmq.host=rabbitmq
    volumes:
      - "uploaded_files_volume_1:/tmp"
    deploy:
      replicas: 2
    ports:
      - "8088:8080"  # Expose the lmsbooks service on port 8087
    networks:
      - lms_network
  lmsbooks-instance2:
    image: lmsbooks:latest
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,instance2
      - spring.datasource.url=jdbc:postgresql://postgres:${POSTGRES_PORT:-5432}/postgres
      - spring.datasource.username=postgres
      - spring.datasource.password=password
      - file.upload-dir=/tmp/uploads-psoft-g1-instance1
      - spring.rabbitmq.host=rabbitmq
    volumes:
      - "uploaded_files_volume_2:/tmp"
    deploy:
      replicas: 2
    ports:
      - "8089:8080"  # Expose the lmsbooks service on port 8087
    networks:
      - lms_network

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    deploy:
      replicas: 2
    ports:
      - "5432-5450:5432"

    networks:
      - lms_network

  mongodb:
    image: mongo:7
    container_name: mongodb_in_lms_network
    restart: unless-stopped
    deploy:
      replicas: 1
    ports:
      - "27017:27017"
    networks:
      - lms_network

  rabbitmq:
    image:	rabbitmq:3-management
    container_name: rabbitmq
    restart:	always
    deploy:
      replicas: 1
    ports:
      - "5672:5672"		#	RabbitMQ	main	port
      - "15672:15672"		#	RabbitMQ	management	UI
    environment:
      RABBITMQ_DEFAULT_USER:	guest
      RABBITMQ_DEFAULT_PASS:	guest
    networks:
      - lms_network

networks:
  lms_network:
    driver: overlay
    attachable: true

volumes:
  uploaded_files_volume_1:
  uploaded_files_volume_2: