version: '3.8'

services:
  # --- COMMAND (POST) ---
  books_command:
    image: carloshenriquesisep/lmsbooks:${STABLE_TAG:-v1.0.0}
    environment:
      - SPRING_PROFILES_ACTIVE=command
      - SPRING_DATA_MONGODB_HOST=mongodb
    deploy:
      endpoint_mode: dnsrr
      labels:
        - "traefik.enable=true"
        - "traefik.http.services.command-stable.loadbalancer.server.port=8080"
        - "traefik.docker.network=lms_network"
    networks:
      - lms_network

  books_command_canary:
    image: carloshenriquesisep/lmsbooks:${IMAGE_TAG:-latest}
    environment:
      - SPRING_PROFILES_ACTIVE=command
      - SPRING_DATA_MONGODB_HOST=mongodb
    deploy:
      endpoint_mode: dnsrr
      labels:
        - "traefik.enable=true"
        - "traefik.http.services.command-canary.loadbalancer.server.port=8080"
        - "traefik.docker.network=lms_network"

    networks:
      - lms_network

  # --- QUERY (GET) ---
  books_query:
    image: carloshenriquesisep/lmsbooks:${STABLE_TAG:-v1.0.0}
    environment:
      - SPRING_PROFILES_ACTIVE=query
      - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres
    deploy:
      endpoint_mode: dnsrr
      labels:
        - "traefik.enable=true"
        - "traefik.http.services.query-stable.loadbalancer.server.port=8080"
        - "traefik.docker.network=lms_network"
    networks:
      - lms_network

  books_query_canary:
    image: carloshenriquesisep/lmsbooks:${IMAGE_TAG:-latest}
    environment:
      - SPRING_PROFILES_ACTIVE=query
      - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres
    deploy:
      endpoint_mode: dnsrr
      labels:
        - "traefik.enable=true"
        - "traefik.http.services.query-canary.loadbalancer.server.port=8080"
        - "traefik.docker.network=lms_network"
    networks:
      - lms_network

  # --- INFRASTRUCTURE (Bases de Dados e Broker) ---
  postgres:
    image: postgres:latest
    environment: [POSTGRES_PASSWORD=password]
    networks: [lms_network]

  mongodb:
    image: mongo:7
    networks: [lms_network]

networks:
  lms_network:
    driver: overlay
    external: true