version: '3.8'

services:
  # --- O PROXY (Caddy) ---
  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    ports:
      - "${CADDY_HTTP_PORT:-80}:80"
      - "${CADDY_HTTPS_PORT:-443}:443"
    networks:
      - lms_network
    environment:
      - CADDY_INGRESS_NETWORKS=lms_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
    deploy:
      placement:
        constraints:
          - node.role == manager
      replicas: 1

  # --- COMMAND (POST/PUT/DELETE) -> PORTA 8088 ---
  books_command:
    image: carloshenriquesisep/lmsbooks:${STABLE_TAG:-v1.0.0}
    environment:
      - SPRING_PROFILES_ACTIVE=command
      - SPRING_DATA_MONGODB_HOST=mongodb
      - SERVER_PORT=8088
    deploy:
      labels:
        caddy: "http://lms-isep.ovh"
        caddy.@command.method: "POST PUT PATCH DELETE"
        caddy.handle: "@command"
        # books_command_canary:8088
        caddy.handle.reverse_proxy: "{{upstreams 8088}} books_command_canary:8088"
        caddy.handle.reverse_proxy.lb_policy: "weighted_round_robin 9 1"
    networks:
      - lms_network

  books_command_canary:
    image: carloshenriquesisep/lmsbooks:${IMAGE_TAG:-latest}
    environment:
      - SPRING_PROFILES_ACTIVE=command
      - SPRING_DATA_MONGODB_HOST=mongodb
      - SERVER_PORT=8088
    deploy:
      replicas: 1
    networks:
      - lms_network

  # --- QUERY (GET/HEAD) -> PORTA 8087 ---
  books_query:
    image: carloshenriquesisep/lmsbooks:${STABLE_TAG:-v1.0.0}
    environment:
      - SPRING_PROFILES_ACTIVE=query
      - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres
      - SERVER_PORT=8087
    deploy:
      labels:
        caddy: "http://lms-isep.ovh"
        caddy.@query.method: "GET HEAD"
        caddy.handle: "@query"
        # books_query_canary:8087
        caddy.handle.reverse_proxy: "{{upstreams 8087}} books_query_canary:8087"
        caddy.handle.reverse_proxy.lb_policy: "weighted_round_robin 9 1"
    networks:
      - lms_network

  books_query_canary:
    image: carloshenriquesisep/lmsbooks:${IMAGE_TAG:-latest}
    environment:
      - SPRING_PROFILES_ACTIVE=query
      - spring.datasource.url=jdbc:postgresql://postgres:5432/postgres
      - SERVER_PORT=8087
    deploy:
      replicas: 1
    networks:
      - lms_network

  # --- INFRASTRUCTURE ---
  postgres:
    image: postgres:latest
    environment: [POSTGRES_PASSWORD=password]
    networks: [lms_network]
    deploy:
      replicas: 1

  mongodb:
    image: mongo:7
    networks: [lms_network]
    deploy:
      replicas: 1

volumes:
  caddy_data:

networks:
  lms_network:
    driver: overlay
    external: true