http:
  routers:
    router-command:
      rule: "Host(`lms-isep.ovh`) && Method(`POST`, `PUT`, `DELETE`, `PATCH`)"
      service: service-command-canary
      entryPoints: ["web"]

    router-query:
      rule: "Host(`lms-isep.ovh`) && Method(`GET`)"
      service: service-query-canary
      entryPoints: ["web"]

  services:
    service-command-canary:
      weighted:
        services:
          - name: command-stable@swarm
            weight: 90
          - name: command-canary@swarm
            weight: 10

    service-query-canary:
      weighted:
        services:
          - name: query-stable@swarm
            weight: 90
          - name: query-canary@swarm
            weight: 10