http:
  routers:
    router-command:
      rule: "Host(`lms-isep.ovh`) && Method(`POST`, `PUT`, `DELETE`, `PATCH`)"
      service: service-command-canary
      entryPoints: ["web"]

    router-query:
      rule: "Host(`lms-isep.ovh`) && Method(`GET`)"
      service: service-query-canary
      entryPoints: ["web"]

  services:
    service-command-canary:
      weighted:
        services:
          - name: staging_books_command@swarm
            weight: 90
          - name: staging_books_command_canary@swarm
            weight: 10

    service-query-canary:
      weighted:
        services:
          - name: staging_books_query@swarm
            weight: 90
          - name: staging_books_query_canary@swarm
            weight: 10